{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="images/avatare/{{nutzer.avatar}}" class="img-responsive img-circle avatar-medium center-block">
			<br>
			<h5>{{nutzer.username}}</h5>
			<h5>Persönliche Daten</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<b>Geburtsdatum:</b> {{nutzer.geburtsdatum.strftime("%d.%m.%Y")}}<br>
			<b>E-Mail:</b> {% if nutzer.email %}{{nutzer.email}}{% else %}Keine angelegt{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Nutzereinstellungen anpassen</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<form method="post">
				<div class="form-group">
					<label>Passwort ändern</label>
					<input type="password" name="old_pw" placeholder="Altes Passwort" class="form-control">
					<input type="password" name="new_pw" placeholder="Neues Passwort" class="form-control">
					<input type="password" name="new_pw_again" placeholder="Neues Passwort wiederholen" class="form-control">
					<button type="submit" name="btn_change_pw" value="on" class="btn btn-default">Ändern</button>
					<div class="error">{{error_pw}}</div>
					<div class="success">{{success_pw}}</div>
				</div>
			</form>
		</div>
		<div class="col-md-6 text-center">
			<form method="post">
				<div class="form-group">
					<label>E-Mail ändern</label>
					<input type="text" name="new_email" placeholder="Neue E-Mail Adresse" class="form-control">
					<button type="submit" name="btn_change_email" value="on" class="btn btn-default">Ändern</button>
					<div class="error">{{error_email}}</div>
					<div class="success">{{success_email}}</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Designeinstellungen</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<form method="post">
				<div class="form-group">
					<label>Design-Farbe</label><br>
					<button type="submit" name="change_design" value="winter" class="btn btn-winter">Winter</button>
					<button type="submit" name="change_design" value="fruehling" class="btn btn-fruehling">Frühling</button>
					<button type="submit" name="change_design" value="sommer" class="btn btn-sommer">Sommer</button>
					<button type="submit" name="change_design" value="herbst" class="btn btn-herbst">Herbst</button>
					<button type="submit" name="change_design" value="auto" class="btn btn-default">Auto</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}