{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>{{ post.title }}</h4>
			<small>{{ post.start_date.strftime("%d.%m.%Y") }}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="space-bottom"><b>Betrifft</b></div>
			{% for entry in post.concerned_users %}
				{# <img src="/images/avatare/{{ post.get_concerned_avatar(entry) }}" class="avatar-small img-circle"> #}
				<svg height="43" width="43"><circle cx="20" cy="20" r="20" class="{{ entry.lower() }}"></svg>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			{% if post.description %}
				{{ post.description }}
			{% else %}
				<small>Es wurde für diesen Termin keine nähere Beschreibung eingetragen.</small>
			{% endif %}
			<br><br>
			<small>Zuletzt bearbeitet am: {{ post.last_modified.strftime("%d.%m.%Y") }}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/termine" class="btn btn-default">Zurück</a>
		</div>
	</div>
	{% if nutzer.username == "Admin" or nutzer.username == post.author.username %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Termin bearbeiten</h4>
			<small>Felder mit Asterisk (*) müssen ausgefüllt werden.</small>
		</div>
	</div>
		<div class="row">
		<div class="col-md-12 text-center">
			<form method="post">
				<div class="form-group">
					<label>Von*</label>
					<input type="date" name="start_date" value="{{post.start_date}}" class="form-control text-right">
					<div class="error">{{error_start_date}}</div>
				</div>
				<div class="form-group">
					<label>Bis*</label>
					<input type="date" name="end_date" value="{{post.end_date}}" class="form-control text-right">
					<div class="error">{{error_end_date}}</div>
				</div>
				<div class="form-group">
					<label>Titel*</label>
					<input type="text" name="title" value="{{post.title}}" class="form-control">
					<div class="error">{{error_title}}</div>
				</div>
				<div class="form-group">
					<label>Beschreibung</label>
					<textarea name="description" value="{{post.description}}" class="form-control" rows="6">{{post.description}}</textarea>
				</div>
				<div class="form-group">
					<label>Betrifft*</label>
					<div>
						<label class="concern-cb">
							<img src="/images/avatare/bk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_beate" value="Beate" {% if "Beate" in post.concerned_users %}checked{% endif %}>
						</label>
						<label class="concern-cb">
							<img src="/images/avatare/tk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_thomas" value="Thomas" {% if "Thomas" in post.concerned_users %}checked{% endif %}>
						</label>
						<label class="concern-cb">
							<img src="/images/avatare/dk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_david" value="David" {% if "David" in post.concerned_users or "Franzi" in post.concerned_users %}checked{% endif %}>
						</label>
						<label class="concern-cb">
							<img src="/images/avatare/mk1-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_michael" value="Michael" {% if "Michael" in post.concerned_users %}checked{% endif %}>
						</label>
						<label class="concern-cb">
							<img src="/images/avatare/mk2-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_matthias" value="Matthias" {% if "Matthias" in post.concerned_users %}checked{% endif %}>
						</label>
					</div>
					<div class="error">{{error_concern}}</div>
				</div>
				<button type="submit" name="edit_date" value="on" class="btn btn-default">Ändern</button><br>
				<button type="submit" name="delete_date" value="{{post.key().id()}}" class="btn btn-default">Löschen</button>
			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}