{% extends "base.html" %}

{% block header_title %} kb Back-end {% endblock %}

{% block header_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h1><a href="/">kniebook</a></h1>
			<h3>Back-end</h3>
		</div>
	</div>
{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Nutzer</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h5 class="text-center">Angelegte Nutzer</h5>
			{% if users %}
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Nr.</th>
								<th>Nutzername</th>
								<th>Passwort</th>
								<th>Geburtsdatum</th>
								<th>Avatar</th>
							</tr>
						</thead>
						<tbody>
						{% for entry in users %}
							<tr>
								<td>{{users.index(entry) + 1}}</td>
								<td>{{entry.username}}</td>
								<td>{{entry.password}}</td>
								<td>{{entry.geburtsdatum.strftime("%d.%m.%Y")}}</td>
								<td><img src="images/avatare/{{entry.avatar}}" class="img-responsive img-circle avatar-small"></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<p class="text-center">Leider wurden noch keine Nutzer angelegt</p>
			{% endif %}
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Nutzerkontrolle</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<h5>Algorithmen</h5>
			<form>
				<button type="submit" name="btn-initialize-users" formmethod="get" value="on" class="btn btn-default">Initialisiere Nutzer</button>
			</form>
			<form>
				<button type="submit" name="btn-delete-all-users" formmethod="get" value="on" class="btn btn-default">Lösche alle Nutzer</button>
			</form>
		</div>
		<div class="col-md-6 text-center">
			<h5>Registration</h5>
			<form method="post">
				<input type="text" name="n_nutzer" placeholder="Neuer Nutzer" value="{{n_nutzer}}" class="form-control">
				<div class="error">{{error_username}}</div>
				<input type="password" name="n_pw" placeholder="Passwort" class="form-control">
				<div class="error">{{error_pw}}</div>
				<input type="submit" value="Anlegen" class="btn btn-default">
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Termine</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Algorithmen</h5>
			<form>
				<button type="submit" name="btn-delete-all-dates" formmethod="get" value="on" class="btn btn-default">Lösche alle Termine</button>
			</form>
		</div>
	</div>
{% endblock %}