<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block header_title %}Willkommen zum kniebook{% endblock %}</title>
	
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css">
	<link rel="stylesheet" href="static/{{season}}"> <!-- An dieser Stelle koennen saisonale Designs eingebunden werden -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,900' rel='stylesheet'>

</head>
<body>
	<div class="container">
		<header>
			{% block header_content %}
			<div class="row">
				<div class="col-xs-10 text-right">
					<h5>Willkommen zum <a href="/">kniebook</a></h5>
					<h5>{{nutzer.username}}</h5>
				</div>
				<div class="col-xs-2">
					{% if nutzer %}
					<img src="images/avatare/{{nutzer.avatar}}" class="img-responsive img-circle avatar-small">
					{% endif %}
				</div>
			</div>
			{% endblock %}
		</header>
		<nav>
			{% block nav_content %}
				<div class="row">
					<div class="col-md-12">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="/main" class="btn btn-season">Aktuelles</a>
						<a href="/termine" class="btn btn-season">Termine</a>
						<a href="/blog" class="btn btn-season">Blog</a>
						<a href="/settings" class="btn btn-season">Einstellungen</a>
						{% if nutzer.username == "Admin" %}		
						<a href="/back" class="btn btn-season">Back-end</a>
						{% endif %}
						<a href="/logout" class="btn btn-season">Abmelden</a>
					</div>
				</div>
			{% endblock %}
		</nav>
		<main>
			{% block main_content %}
			{% endblock %}
		</main>
		<footer>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
			{% block footer_content %}
			<div class="row">
				<div class="col-md-12 text-center">
					<small>© Michael Knierim - 2015</small>
				</div>
			</div>
			{% endblock %}
		</footer>
	</div>
</body>
</html>