{% extends "base.html" %}

{% block header_title %} kb Zugriff verweigert {% endblock %}

{% block header_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h1><a href="/">kniebook</a></h1>
			<h3>Fehler</h3>
		</div>
	</div>
{% endblock %}

{% block nav_content %}
{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<hr>
			Auf diese Seite haben Sie leider keinen Zugriff.<br>
			Bei Fragen wenden Sie sich bitte an den <a href="mailto:kontakt@michaelknierim.de">Systemadministrator</a>.
		</div>
	</div>
{% endblock %}