{% extends "base.html" %}
{% block header_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Willkommen zum</h5>
			<h1>kniebook</h1>
			{% if nutzer %}
			<h5>{{nutzer.username}}</h5>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block nav_content %}
{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="/images/avatare/bk-reg.jpg" class="img-circle front-img">
			<img src="/images/avatare/tk-reg.jpg" class="img-circle front-img">
			<img src="/images/avatare/dk-reg.jpg" class="img-circle front-img">
			<img src="/images/avatare/mk1-reg.jpg" class="img-circle front-img">
			<img src="/images/avatare/mk2-reg.jpg" class="img-circle front-img">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>

	{% if nutzer %}
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/main" class="btn btn-season">Aktuelles</a>
			<a href="/termine" class="btn btn-season">Termine</a>
			<!-- <a href="/forum" class="btn btn-season">Forum</a> -->
			<!-- <a href="/blog" class="btn btn-season">Blog</a> -->
			<a href="/settings" class="btn btn-season">Einstellungen</a>
			{% if nutzer.username == "Admin" %}		
			<a href="/back" class="btn btn-season">Back-end</a>
			{% endif %}
			<a href="/logout" class="btn btn-season">Abmelden</a>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center">
			<form method="post">
				<label class="single-row-form-element">
					<input type="text" name="nutzer" placeholder="Benutzer" value="{{nutzer}}" class="form-control" autofocus>
				</label>
				<label class="single-row-form-element">
					<input type="password" name="passwort" placeholder="Passwort" value="{{passwort}}" class="form-control">
				</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="remember_check" value="yes"> <small>Angemeldet bleiben</small>
					</label>
				</div>
				<input type="submit" value="Einloggen" class="btn btn-default">
			</form>
			<div class="error">{{fehler}}</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	{% endif %}
{% endblock %}

{% block footer_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Über das kniebook</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10 text-center">
			<p>Das kniebook ist eine Ahnlehnung an das allseits bekannte gesichtsbook (oder: facebook), das allerdings nur den Mitgliedern des Knie-fokalen Clans der Knierims gewidmet ist. Es handelt sich also um eine privatisierte Variante des sozialen Netzwerks, das wir alle lieben oder fürchten gelernt haben und um den Versuch, die Furcht und die Öffentlichkeit aus der Verteilung unserer Katzen- und Kinderfotos auszuschließen.</p>
			<p>Bei Beschwerden gilt es ausschließlich sich an den <a href="mailto:michael@kniebook.de">Administrator</a> zu melden. Allerdings besteht die Gefahr, dass diese Botschaften im Clan-internen Beschwerdebriefkasten alt werden. Sollte dies der Fall sein, dann wird um Hartnäckigkeit gebeten.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
{% endblock %}