{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Aktuelles</h4>
			<small>Heute ist der {{akt_datum}}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h5 class="text-center space-bottom">Termine in den nächsten 7 Tagen</h5>
			{% if dates %}
				{% include "widgets/date-list.html" %}
			{% else %}
				<div class="text-center"><small>Diese Woche stehen keine Termine an.</small></div>
			{% endif %}
		</div>
	</div>
{% endblock %}