<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block header_title %}kb Projekt{% endblock %}</title>
	
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css">
	<link rel="stylesheet" href="static/{{season}}"> <!-- An dieser Stelle koennen saisonale Designs eingebunden werden -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,900' rel='stylesheet'>
</head>
<body>
	<div class="container">
		<header>
			{% block header_content %}
				<div class="row">
					<div class="col-md-12 text-center">
						<h1><a href="/">kniebook</a></h1>
						<h3>Projekt {{project}}</h3>
					</div>
				</div>
				{% if nutzer %}
				<div class="row">
					<div class="col-xs-6 text-right">
						<h5>Willkommen {{nutzer}}</h5>
					</div>
					<div class="col-xs-6">
						<img src="images/avatare/{{avatar}}" class="img-responsive img-circle avatar-small">
					</div>
				</div>
				{% endif %}
			{% endblock %}
		</header>
		<nav>
			{% block nav_content %}
			{% endblock %}
		</nav>
		<main>
			{% block main_content %}
			{% endblock %}
		</main>
		<footer>
			<hr>
			{% block footer_content %}
				<div class="row">
					<div class="col-md-12 text-center">
						<p>© Michael Knierim - 2015</p>
					</div>
				</div>
			{% endblock %}
		</footer>
	</div>
</body>
</html>