{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Nutzereinstellungen</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="images/avatare/{{nutzer.avatar}}" class="img-responsive img-circle avatar-medium center-block">
			{{nutzer.username}}
		</div>
	</div><!-- 
	<div class="row">
		<div class="col-md-12">
			Letzter Login: {{last_visit}}
		</div>
	</div> -->
	<!-- <div class="row">
		<div class="col-md-12 text-center">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Design</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			...
		</div>
	</div> -->
{% endblock %}