{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Alle ausstehenden Termine {{act_year}}</h4>
			<small>Heute ist der {{akt_datum}}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if dates %}
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<thead>
							<tr>
								<th>Termindaten</th>
								<th>Betrifft</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<th></th>
								<th class="table-date-concern">Beate</th>
								<th class="table-date-concern">Thomas</th>
								<th class="table-date-concern">David</th>
								<th class="table-date-concern">Michael</th>
								<th class="table-date-concern">Matthias</th>
							</tr>
						</thead>
					{% for entry in dates %}
						<tr>
							<td>
							<dl class="dl-horizontal">
								<dt>Datum:</dt>
								<dd>{{entry.date.strftime("%d.%m.%Y")}}</dd>
								<dt>Titel:</dt>
								<dd>{{entry.title}}</dd>
								{% if entry.description %}
								<dt>Beschreibung:</dt>
								<dd>{{entry.description}}</dd>
								{% endif %}

								{% if nutzer.username == "Admin" or nutzer.username == entry.author.username %}
								<dt></dt>
								<dd><form method="post"><button type="submit" name="delete_date" value="{{entry.key().id()}}" class="btn-link btn-xs">Löschen</button></form></dd>
								{% endif %}
							</dl>
							</td>
							<td class="text-center">
								{% if "Beate" in entry.concerned_users %}
									<svg height="40" width="40"><circle cx="20" cy="20" r="20" class="beate"></svg>
								{% endif %}
							</td>
							<td class="text-center">
								{% if "Thomas" in entry.concerned_users %}
									<svg height="40" width="40"><circle cx="20" cy="20" r="20" class="thomas"></svg>
								{% endif %}
							</td>	
							<td class="text-center">
								{% if "David" in entry.concerned_users or "Franzi" in entry.concerned_users %}
									<svg height="40" width="40"><circle cx="20" cy="20" r="20" class="david"></svg>
								{% endif %}
							</td>
							<td class="text-center">
								{% if "Michael" in entry.concerned_users %}
									<svg height="40" width="40"><circle cx="20" cy="20" r="20" class="michael"></svg>
								{% endif %}
							</td>
							<td class="text-center">
								{% if "Matthias" in entry.concerned_users %}
									<svg height="40" width="40"><circle cx="20" cy="20" r="20" class="matthias"></svg>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
				<div class="text-center"><small>Es wurden leider noch keine Termine eingetragen.</small></div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/termine/archiv" class="btn btn-default">Vergangene Termine</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Einen Termin eintragen</h4>
			<small>Felder mit Asterisk (*) müssen ausgefüllt werden.</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<form method="post">
				<div class="form-group">
					<label>Datum*</label>
					<input type="date" name="date" value="{{date}}" class="form-control text-right">
					<div class="error">{{error_date}}</div>
				</div>
				<!-- <div class="form-group">
					<label>Beginn</label>
					<input type="time" name="start_time" value="{{start_time}}" class="form-control">
				</div>
				<div class="form-group">
					<label>Ende</label>
					<input type="time" name="end_time" value="{{end_time}}" class="form-control">
				</div> -->
				<div class="form-group">
					<label>Titel*</label>
					<input type="text" name="title" value="{{title}}" class="form-control">
					<div class="error">{{error_title}}</div>
				</div>
				<div class="form-group">
					<label>Beschreibung</label>
					<textarea name="description" value="{{description}}" class="form-control" rows="6"></textarea>
				</div>
				<div class="form-group">
					<label>Betrifft*</label>
					<div>
						<label class="concern-cb">
							<img src="images/avatare/bk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_beate" value="Beate">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/tk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_thomas" value="Thomas">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/dk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_david" value="David">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/mk1-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_michael" value="Michael">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/mk2-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_matthias" value="Matthias">
						</label>
					</div>
					<div class="error">{{error_concern}}</div>
				</div>
				<button type="submit" name="create_new_date" value="on" class="btn btn-default">Eintragen</button>
			</form>
		</div>
	</div>
	
{% endblock %}