{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Alle vergangenen Termine</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if old_dates %}
				{% for entry in old_dates %}
					<dl class="dl-horizontal">
						<dt>Datum:</dt>
						<dd>{{entry.date.strftime("%d.%m.%Y")}}</dd>
						<dt>Titel:</dt>
						<dd>{{entry.title}}</dd>
						{% if entry.description %}
						<dt>Beschreibung:</dt>
						<dd>{{entry.description}}</dd>
						{% endif %}
					</dl>
				{% endfor %}
			{% else %}
				<div class="text-center"><small>Es wurden keine Termine in der Vergangenheit gefunden.</small></div>
			{% endif %}
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/termine" class="btn btn-default">Zurück</a>
		</div>
	</div>
	
{% endblock %}