{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Alle ausstehenden Termine {{act_year}}</h4>
			<small>Heute ist der {{akt_datum}}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if dates %}
				<div id="date-list">
					<!-- Date header -->
					<!-- Not implemented -->

					{% for entry in dates %}
						<!-- Date row -->
						<div class="date-row">
							<div class="date-title">
								<a href="/termin/{{ entry.key().id() }}">{{entry.title}}</a>
							</div>
							<div class="date-concern short">
								<small><i>(not implemented)</i></small>
								<img src="http://placehold.it/30x30&text=1" class="img-circle">
								<span>+X</span>
							</div>
							<div class="date-date">
								{{entry.start_date.strftime("%d.%m.%Y")}}
								{% if entry.end_date %} - {{entry.end_date.strftime("%d.%m.%Y")}}{% endif %}
							</div>
							<div class="date-description">
								{% if entry.description %}
									{{entry.description}}
								{% else %}
									<small><i>(Kurzbeschreibung not implemented)</i></small>
								{% endif %}
							</div>
							{% if nutzer.username == "Admin" or nutzer.username == entry.author.username %}
								<div class="date-controls">✎</div>
								<div class="date-controls">✖</div>
								<form method="post"><button type="submit" name="delete_date" value="{{entry.key().id()}}" class="btn-link btn-xs">Löschen</button></form>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="text-center"><small>Es wurden leider noch keine Termine eingetragen.</small></div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/termine/archiv" class="btn btn-default">Vergangene Termine</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Einen Termin eintragen</h4>
			<small>Felder mit Asterisk (*) müssen ausgefüllt werden.</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<form method="post">
				<div class="form-group">
					<label>Von*</label>
					<input type="date" name="start_date" value="{{start_date}}" class="form-control text-right">
					<div class="error">{{error_start_date}}</div>
				</div>
				<div class="form-group">
					<label>Bis</label>
					<input type="date" name="end_date" value="{{end_date}}" class="form-control text-right">
					<div class="error">{{error_end_date}}</div>
				</div>
				<div class="form-group">
					<label>Titel*</label>
					<input type="text" name="title" value="{{title}}" class="form-control">
					<div class="error">{{error_title}}</div>
				</div>
				<div class="form-group">
					<label>Beschreibung</label>
					<textarea name="description" value="{{description}}" class="form-control" rows="6"></textarea>
				</div>
				<div class="form-group">
					<label>Betrifft*</label>
					<div>
						<label class="concern-cb">
							<img src="images/avatare/bk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_beate" value="Beate">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/tk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_thomas" value="Thomas">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/dk-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_david" value="David">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/mk1-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_michael" value="Michael">
						</label>
						<label class="concern-cb">
							<img src="images/avatare/mk2-reg.jpg" class="avatar-small img-circle"><input type="checkbox" name="concern_matthias" value="Matthias">
						</label>
					</div>
					<div class="error">{{error_concern}}</div>
				</div>
				<button type="submit" name="edit_date" value="on" class="btn btn-default">Eintragen</button>
			</form>
		</div>
	</div>

{% endblock %}