{% extends "base.html" %}

{% block header_title %} kb Projekt Trockenmauer {% endblock %}

{% block header_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h1><a href="/">kniebook</a></h1>
			<h3>Projekt Trockenmauer</h3>
		</div>
	</div>
{% endblock %}

{% block nav_content %}
{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<hr>
			<h4>Termine</h4>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Einen Termin eintragen</h5>
			...
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Meine Termine</h5>
			...
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Alle Termine</h5>
			...
		</div>
	</div> -->
{% endblock %}