body {
	background-color: #2DA690;
}

a {
	color: #1A5E52;
}
a:active,
a:hover {
	color: #2DA690;
}

.error {
	color: #F29441;
}

.btn-season {
	color: #fff;
	background-color: #1A5E52;
	border-color: #ccc;
}

.btn-season:hover,
.btn-season:focus,
.btn-season.focus {
	color: #2DA690;
	text-decoration: none;
}