/* ------------------------------------ */
/* Allgemeine Elemente */
/* ------------------------------------ */
* {
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;*/

	/*border: 1px solid red !important;*/

	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	margin: 0px;
}

h1 {
	font-size: 4em;
	font-weight: 900;
}

h5 {
	font-size: 1.2em;
	font-weight: 300;
}

header {
	margin-top: 60px;
	margin-bottom: 60px;
}

nav	{
	margin-top: 15px;
	margin-bottom: 15px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

a:active,
a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
/* Bootstrap Elemente */
/* ------------------------------------ */
.container {
	max-width: 720px;
	background-color: #fff;
	margin-top: 60px;
	margin-bottom: 60px;
}

@media screen and (max-height: 800px) {
	.container {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.row {
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-control {
	width: 200px;
	margin: 0 auto;
}

.form-full {
	width: 100%;
}

.btn {
	margin-top: 3px;
	margin-bottom: 3px;
}

.dl-horizontal dt {
	text-align: left;
	width: 100px;
}

.dl-horizontal dd {
	text-align: left;
	margin-left: 100px;
	width: 200px;
}

/* ------------------------------------ */
/* Eigene Elemente */
/* ------------------------------------ */
.avatar-small {
	width: 40px;
}

.avatar-medium {
	width: 100px;
}

.single-row-form-element {
	width: 100%;
}

.front-img {
	width: 100px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.success {
	color: #1A5E52;
}

/* ------------------------------------ */
/* Saisonale Stylings */
/* ------------------------------------ */
.btn-winter {
	color: #fff;
	background-color: #294273;
}

.btn-winter:hover,
.btn-winter:focus,
.btn-winter.focus {
	color: #4168B5;
}

.btn-fruehling {
	color: #fff;
	background-color: #2DA690;
}

.btn-fruehling:hover,
.btn-fruehling:focus,
.btn-fruehling.focus {
	color: #1A5E52;
}

.btn-sommer {
	color: #fff;
	background-color: #F29441;
}

.btn-sommer:hover,
.btn-sommer:focus,
.btn-sommer.focus {
	color: #A6652D;
}

.btn-herbst {
	color: #fff;
	background-color: #D94B2B;
}

.btn-herbst:hover,
.btn-herbst:focus,
.btn-herbst.focus {
	color: #732817;
}