body {
	background-color: #F29441;
}

a {
	color: #A6652D;
}
a:active,
a:hover {
	color: #F29441;
}

.error {
	color: #D94B2B;
}

.btn-season {
	color: #fff;
	background-color: #A6652D;
	border-color: #ccc;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #F29441;
	text-decoration: none;
}