body {
	background-color: #294273;
}

a {
	color: #4168B5;
}
a:active,
a:hover {
	color: #294273;
}

.error {
	color: #D94B2B;
}

.btn-season {
	color: #fff;
	background-color: #4168B5;
	border-color: #ccc;
}

.btn-season:hover,
.btn-season:focus,
.btn-season.focus {
	color: #294273;
	text-decoration: none;
}