{% extends "base.html" %}

{% block main_content %}
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>News</h4>
			<small>Today is the {{act_date}}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center space-bottom">The upcoming 7 days</h4>
			{% if dates %}
				{% include "widgets/date-list.html" %}
			{% else %}
				<div class="text-center"><small>There are no dates entered for this week.</small></div>
			{% endif %}
		</div>
	</div>
{% endblock %}