/* ------------------------------------
 * General elements
 * ------------------------------------
 */
* {
	-webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;

	/*border: 1px solid red !important;*/

	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	margin: 0px;
}

h1 {
	font-size: 4em;
	font-weight: 900;
}

h5 {
	font-size: 1.2em;
	font-weight: 300;
}

header {
	margin-top: 60px;
	margin-bottom: 60px;
}

nav	{
	margin-top: 15px;
	margin-bottom: 15px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

a:active,
a:hover {
	text-decoration: none;
}

/* ------------------------------------
 * Bootstrap elements
 * ------------------------------------
 */
.container {
	max-width: 720px;
	background-color: #fff;
	margin-top: 60px;
	margin-bottom: 60px;
}

@media screen and (max-height: 800px) {
	.container {
		margin: 10px;
	}
}

.row {
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-control {
	width: 200px;
	margin: 0 auto;
}

.form-full {
	width: 100%;
}

.btn {
	margin-top: 3px;
	margin-bottom: 3px;
}

.dl-horizontal dt {
	text-align: left;
	width: 80px;
}

.dl-horizontal dd {
	text-align: left;
	margin-left: 80px;
	width: 200px;
}

/* ------------------------------------
 * Own elements
 * ------------------------------------
 */
.avatar-xs {
	width: 30px;
}

.avatar-small {
	width: 40px;
}

.avatar-medium {
	width: 100px;
}

.single-row-form-element {
	width: 100%;
}

.front-img {
	width: 100px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.success {
	color: #1A5E52;
}

.table-date-concern {
	width: 70px;
	text-align: center;
}

.space-bottom {
	margin-bottom: 10px;
}

.concern-cb input[type="checkbox"] {
	margin-top: 5px;
	margin-left: auto;
  	margin-right: auto;
	display: block;
}

.concern-cb {
	cursor: pointer;
}

.concern-cb + .concern-cb {
	margin-left: 10px;
}

/* ------------------------------------
 * Styling for date-list
 * ------------------------------------
 */
.date-row	{
	width: 100%;
	margin-bottom: 10px;
	overflow: auto;
}

.date-title {
	width: calc(100% - 200px);
	float: left;
	padding: 10px;
}

.date-date {
	width: 100px;
	float: right;
	padding: 10px;
}

.date-description {
	width: calc(100% - 60px);
	float: left;
	padding: 10px;
}

.date-controls {
	width: 30px;
	padding: 10px;
	float: left;
}

.date-concern {
	width: 100px;
	float: right;
	padding: 5px 10px;
}

.date-concern.short {
	background-image: url("/images/ui/date-multiple-icon.png");
	background-repeat: no-repeat;
	background-position: 7px 5px;
}

.date-concern span {
	margin-left: 25px;
}

#date-list {
	margin: 0;
	width: 100%;
}

#date-list h3 {
	font-size: 14px;
	font-weight: bold;
}

#date-list div {
	border: 1px solid orange;
}

@media screen and (max-width: 480px) {
	.date-title {
		width: calc(100% - 100px);
	}

	.date-date {
		float: left;
		width: calc(100% - 60px);
	}

	.date-description {
		display: none;
	}
}

/* ------------------------------------
 * Seasonal stylings
 * ------------------------------------
 */
.btn-winter {
	color: #fff;
	background-color: #294273;
}

.btn-winter:hover,
.btn-winter:focus,
.btn-winter.focus {
	color: #4168B5;
}

.btn-fruehling {
	color: #fff;
	background-color: #2DA690;
}

.btn-fruehling:hover,
.btn-fruehling:focus,
.btn-fruehling.focus {
	color: #1A5E52;
}

.btn-sommer {
	color: #fff;
	background-color: #F29441;
}

.btn-sommer:hover,
.btn-sommer:focus,
.btn-sommer.focus {
	color: #A6652D;
}

.btn-herbst {
	color: #fff;
	background-color: #D94B2B;
}

.btn-herbst:hover,
.btn-herbst:focus,
.btn-herbst.focus {
	color: #732817;
}

/* ------------------------------------
 * User stylings
 * ------------------------------------
 */
.beate {
	color: #fff;
	background-color: #F2E14C;
	fill: #F2E14C;
}

.thomas {
	color: #fff;
	background-color: #D94B2B;
	fill: #D94B2B;
}

.david {
	color: #fff;
	background-color: #F29441;
	fill: #F29441;
}

.michael {
	color: #fff;
	background-color: #2DA690;
	fill: #2DA690;
}

.matthias {
	color: #fff;
	background-color: #294273;
	fill: #294273;
}